[Unit]
Description=Social Styles Assessment Application
After=network.target

[Service]
User=socialstyles
Group=www-data
WorkingDirectory=/var/www/socialstyles
Environment="PATH=/var/www/socialstyles/venv/bin"
ExecStart=/var/www/socialstyles/venv/bin/gunicorn -c gunicorn_config.py wsgi:app
Restart=always
RestartSec=5
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target 